# Configuration file

##########################################################################################################
# actuallyadditions
#--------------------------------------------------------------------------------------------------------#
# Actually Additions recipes settings
##########################################################################################################

actuallyadditions {
    # Energy used to make Diamatine Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 60]
    I:"Energy for Diamatine in Reconstructor"=60

    # Energy used to make Emeradic Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 100]
    I:"Energy for Emeradic in Reconstructor"=100

    # Energy used to make Enori Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 80]
    I:"Energy for Enori in Reconstructor"=80

    # Energy used to make Palis Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 40]
    I:"Energy for Palis in Reconstructor"=40

    # Energy used to make Restonia Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 40]
    I:"Energy for Restonia in Reconstructor"=40

    # Energy used to make Void Gear and Plate in Atomic Reconstructor [range: 1 ~ 2147483647, default: 60]
    I:"Energy for Void in Reconstructor"=60

    # Energy per Display Stand used to make Empowered Gears and Plates in Empowerer [range: 1 ~ 2147483647, default: 5000]
    I:"Energy in Empowerer"=5000

    # Time in seconds to craft Empowered Gears and Plates in Empowerer [range: 1 ~ 2147483647, default: 50]
    I:"Time in Empowerer"=50
}


##########################################################################################################
# botania
#--------------------------------------------------------------------------------------------------------#
# Botania recipes settings
##########################################################################################################

botania {
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Write here OreDict names of items to be center in recipes for Gears [default: [ingotIron], [ingotCopper], [ingotTin], [ingotBronze], [ingotConstructionAlloy]]
    S:"Center items in recipes" <
        ingotIron
        ingotCopper
        ingotTin
        ingotBronze
        ingotConstructionAlloy
     >

    # Set this to false, to disable all crafting recipes for Gears [default: true]
    B:"Enable Gear recipes"=true

    # Set this to false, to disable all crafting recipes for Plates [default: true]
    B:"Enable Plate recipes"=true

    # Set this to false, to disable all crafting recipes for Rods [default: true]
    B:"Enable Rod recipes"=true

    # Durability of Hammer [range: 1 ~ 2147483647, default: 150]
    I:"Hammer's durability"=150
}


##########################################################################################################
# ic2
#--------------------------------------------------------------------------------------------------------#
# Industrial Craft 2 recipes settings
##########################################################################################################

ic2 {
}


##########################################################################################################
# immersiveengineering
#--------------------------------------------------------------------------------------------------------#
# Immersive Engineering recipes settings
##########################################################################################################

immersiveengineering {
    # Enable this to add option to make all Plates with Engineer's Hammer [default: true]
    B:"Enable IE Hammer"=true

    # Energy used to make Gears and Plates in Metal Press [range: 1 ~ 2147483647, default: 2400]
    I:"Energy in Metal Press"=2400
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Loading items settings
##########################################################################################################

items {
    B:amber_gear=true
    B:amber_plate=true
    B:black_quartz_gear=true
    B:black_quartz_plate=true
    B:bronze_stick=true
    B:certus_quartz_gear=true
    B:certus_quartz_plate=true
    B:coal_gear=true
    B:coal_plate=true
    B:compressed_iron_gear=true
    B:compressed_iron_plate=true
    B:constantan_stick=true
    B:corrupted_gear=true
    B:corrupted_plate=true
    B:diamatine_gear=true
    B:diamatine_plate=true
    B:diamond_gear=true
    B:diamond_plate=true
    B:electrum_stick=true
    B:emeradic_gear=true
    B:emeradic_plate=true
    B:emerald_gear=true
    B:emerald_plate=true
    B:empowered_diamatine_gear=true
    B:empowered_diamatine_plate=true
    B:empowered_emeradic_gear=true
    B:empowered_emeradic_plate=true
    B:empowered_enori_gear=true
    B:empowered_enori_plate=true
    B:empowered_palis_gear=true
    B:empowered_palis_plate=true
    B:empowered_restonia_gear=true
    B:empowered_restonia_plate=true
    B:empowered_void_gear=true
    B:empowered_void_plate=true
    B:enori_gear=true
    B:enori_plate=true
    B:fluix_gear=true
    B:fluix_plate=true
    B:glowstone_gear=true
    B:glowstone_plate=true
    B:gold_gear=true
    B:gold_stick=true
    B:lapis_lazuli_gear=true
    B:lapis_lazuli_plate=true
    B:lead_stick=true
    B:nether_quartz_gear=true
    B:nether_quartz_plate=true
    B:nickel_stick=true
    B:osmium_gear=true
    B:osmium_plate=true
    B:palis_gear=true
    B:palis_plate=true
    B:quartz_enriched_iron_gear=true
    B:quartz_enriched_iron_plate=true
    B:quicksilver_gear=true
    B:quicksilver_plate=true
    B:redstone_gear=true
    B:redstone_plate=true
    B:refined_glowstone_gear=true
    B:refined_glowstone_plate=true
    B:refined_obsidian_gear=true
    B:refined_obsidian_plate=true
    B:restonia_gear=true
    B:restonia_plate=true
    B:silicon_gear=true
    B:silver_stick=true
    B:void_gear=true
    B:void_plate=true
}


##########################################################################################################
# plugins
#--------------------------------------------------------------------------------------------------------#
# Loading plugins settings
##########################################################################################################

plugins {
    # Enable this to load Actually Additions plugin [default: true]
    B:"Actually Additions"=true

    # Enable this to load Applied Energistics 2 plugin [default: true]
    B:"Applied Energistics 2"=true

    # Enable this to load Avaritia plugin [default: true]
    B:Avaritia=true

    # Enable this to load Botania plugin [default: true]
    B:Botania=true

    # Enable this to load Calculator plugin [default: true]
    B:Calculator=true

    # Enable this to load Draconic Evolution plugin [default: true]
    B:"Draconic Evolution"=true

    # Enable this to load Ender IO plugin [default: true]
    B:"Ender IO"=true

    # Enable this to load Ender IO Endergy plugin [default: true]
    B:"Ender IO Endergy"=true

    # Enable this to load Extra Utilities 2 plugin [default: true]
    B:"Extra Utilities 2"=true

    # Enable this to load Immersive Engineering plugin [default: true]
    B:"Immersive Engineering"=true

    # Enable this to load Industrial Craft 2 plugin [default: true]
    B:"Industrial Craft 2"=true

    # Enable this to load Mekanism plugin [default: true]
    B:Mekanism=true

    # Enable this to load Metals plugin [default: true]
    B:Metals=true

    # Enable this to load Minecraft plugin [default: true]
    B:Minecraft=true

    # Enable this to load Mystical Agradditions plugin [default: true]
    B:"Mystical Agradditions"=true

    # Enable this to load Mystical Agriculture plugin [default: true]
    B:"Mystical Agriculture"=true

    # Enable this to load PlusTiC plugin [default: true]
    B:PlusTiC=true

    # Enable this to load PneumaticCraft: Repressurized plugin [default: true]
    B:"PneumaticCraft: Repressurized"=true

    # Enable this to load Project Red plugin [default: true]
    B:"Project Red"=true

    # Enable this to load ProjectE plugin [default: true]
    B:ProjectE=true

    # Enable this to load Refined Storage plugin [default: true]
    B:"Refined Storage"=true

    # Enable this to load Soul Shards - The Old Ways plugin [default: true]
    B:"Soul Shards - The Old Ways"=true

    # Enable this to load Tech Reborn plugin [default: true]
    B:"Tech Reborn"=true

    # Enable this to load Thaumcraft plugin [default: true]
    B:Thaumcraft=true

    # Enable this to load The Twilight Forest plugin [default: true]
    B:"The Twilight Forest"=true

    # Enable this to load Thermal Expansion plugin [default: true]
    B:"Thermal Expansion"=true

    # Enable this to load Tinkers' Construct plugin [default: true]
    B:"Tinkers' Construct"=true
}


##########################################################################################################
# techreborn
#--------------------------------------------------------------------------------------------------------#
# Tech Reborn recipes settings
##########################################################################################################

techreborn {
}


##########################################################################################################
# thermalexpansion
#--------------------------------------------------------------------------------------------------------#
# Thermal Expansion recipes settings
##########################################################################################################

thermalexpansion {
}


