# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        basic.json
        key.json
        inscribes.json
        crystal_heart.json
        draconic.json
        simulationchamber.json
        luminessence.json
        multiblocks.json
        tough_as_nails.json
        end_back.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Baubles=true
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:ToughAsNails=true
    B:Utils=true
    B:World=true
}


